Package: com.greg0109.dothat
Name: DoThat
Version: 1.0
Architecture: iphoneos-arm
Description: Do what you gotta do at the start of the day!
Maintainer: Greg0109
Author: Greg0109
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
